.heading{text-align: center;
  
}
body {
    font-size: 15pt;
}
.banner {
  width: 100%;
  height: 400px; /* Good average */
  background: url("rr.png.jpg") no-repeat center/cover;
}
.welcome{
  font-size:40px;
  color: rebeccapurple;
}
.main-subject{
  background: skyblue;
  color: white;
}
 
  

.notice{background-color:red;
font-size: 40px;
padding: 10px 15px 10px 15px;
  
}

.footer {
  background: #222; 
  color: #f0f0f0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
}
.footer p {
  margin: 10px 0;
}
.footer .copyright {
  margin-top: 15px;
  font-weight: 500;
  color: #bbb;
}